{% extends 'coal_blending/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'datatables/css/datatables.min.css' %}">
<script type="text/javascript" src="{% static 'coal_blending/css/dashboard.css' %}"></script>
{% endblock %}

{% block title %}Dashboard{% endblock %}
{% block nav_item_dashboard %}active{% endblock %}

{% block body %}
<section class="content-header">
    <div class="container-responsive d-flex justify-content-center">
        <h1 class="font-weight-bold">Coal Blending</h1>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        Link to coal_spec file: <a href={{ link }}>{{ link }}</a>
        {{ df|safe }}
    </div>
</section>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{% static 'datatables/js/datatables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'coal_blending/js/dashboard.js' %}"></script>
{% endblock %}
