{% extends 'coal_blending/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'datatables/css/datatables.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'coal_blending/css/data_input.css' %}">
{% endblock %}

{% block title %}Data Input{% endblock %}
{% block nav_item_data_input %}active{% endblock %}

{% block body %}
<section class="content-header">
    <div class="container-responsive d-flex justify-content-center">
        <h1 class="font-weight-bold">Data Input123</h1>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            {{ test }}
        </div>
        <br>
        <div class="row">
            Link to coal_spec file:&nbsp;<a href={{ link }}>{{ link }}</a>
        </div>
        <br>
        <div class="row">
            <div class='col table-responsive'>{{ df1|safe }}</div>
        </div>
        <br>
        <div class="row">
            <div class='col table-responsive'>{{ df2|safe }}</div>
            <div class='col table-responsive'>{{ df3|safe }}</div>
        </div>
        <br>
        <div class="row">
            <div class='col table-responsive'>{{ df4|safe }}</div>
            <div class='col table-responsive'>{{ df5|safe }}</div>
        </div>
    </div>
</section>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{% static 'datatables/js/datatables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'coal_blending/js/data_input.js' %}"></script>
{% endblock %}
